/* Navigation */
#navbar{
    flex-direction: column;
}


/* Home */
#home{
    height: 220px;

}
#home::before{
    height: 400px;
}


/* Services */
#services{
    flex-direction: column;

}
#services .box{
    
}



/* Client */
#clients{
    overflow: hidden;
}


/* Contact */

/* Footer */